/*  your css code here. If applicable */
h3{
	text-align:center;
}
.right{
	text-align:right;
}
table{
	width:1400px;
}
table{
	Table Borders: 1px solid black;
	Spacing: 1px; 
	Cell Padding: 1px;
}
img{
	margin:0  50%;
}
